[submodule "sites/all/modules/checklistapi"]
	path = sites/all/modules/checklistapi
	url = http://git.drupal.org/project/checklistapi.git
	branch = 7.x-1.x
[submodule "sites/all/modules/module_filter"]
	path = sites/all/modules/module_filter
	url = http://git.drupal.org/project/module_filter.git
	branch = master
[submodule "sites/all/modules/views"]
	path = sites/all/modules/views
	url = http://git.drupal.org/project/views.git
	branch = 7.x-3.x
[submodule "sites/all/modules/ctools"]
	path = sites/all/modules/ctools
	url = http://git.drupal.org/project/ctools.git
	branch = 7.x-1.x
[submodule "sites/all/modules/panels"]
	path = sites/all/modules/panels
	url = http://git.drupal.org/project/panels.git
	branch = 7.x-3.x
[submodule "sites/all/modules/advanced_help"]
	path = sites/all/modules/advanced_help
	url = http://git.drupal.org/project/advanced_help.git
	branch = 7.x-1.x
[submodule "sites/all/modules/scheduler"]
	path = sites/all/modules/scheduler
	url = http://git.drupal.org/project/scheduler.git
	branch = 7.x-1.x
[submodule "sites/all/modules/date"]
	path = sites/all/modules/date
	url = http://git.drupal.org/project/date.git
	branch = 7.x-2.x
[submodule "sites/all/modules/admin_menu"]
	path = sites/all/modules/admin_menu
	url = http://git.drupal.org/project/admin_menu.git
	branch = 7.x-3.x
[submodule "sites/all/modules/entity"]
	path = sites/all/modules/entity
	url = http://git.drupal.org/project/entity.git
	branch = 7.x-1.x
[submodule "sites/all/modules/drupal_sync"]
	path = sites/all/modules/drupal_sync
	url = http://git.drupal.org/project/drupal_sync.git
	branch = master
[submodule "sites/all/modules/ds"]
	path = sites/all/modules/ds
	url = http://git.drupal.org/project/ds.git
	branch = 7.x-2.x
[submodule "sites/all/modules/webform"]
	path = sites/all/modules/webform
	url = http://git.drupal.org/project/webform.git
	branch = 7.x-4.x
[submodule "sites/all/modules/pathauto"]
	path = sites/all/modules/pathauto
	url = http://git.drupal.org/project/pathauto.git
	branch = 7.x-1.x
[submodule "sites/all/modules/metatag"]
	path = sites/all/modules/metatag
	url = http://git.drupal.org/project/metatag.git
	branch = 7.x-1.x
[submodule "sites/all/modules/seo_checklist"]
	path = sites/all/modules/seo_checklist
	url = http://git.drupal.org/project/seo_checklist.git
	branch = 7.x-4.x
[submodule "sites/all/modules/context"]
	path = sites/all/modules/context
	url = http://git.drupal.org/project/context.git
	branch = 7.x-3.x
[submodule "sites/all/modules/exclude_node_title"]
	path = sites/all/modules/exclude_node_title
	url = http://git.drupal.org/project/exclude_node_title.git
	branch = 7.x-1.x
[submodule "sites/all/modules/imce"]
	path = sites/all/modules/imce
	url = http://git.drupal.org/project/imce.git
	branch = 7.x-1.x
[submodule "sites/all/modules/nodeorder"]
	path = sites/all/modules/nodeorder
	url = http://git.drupal.org/project/nodeorder.git
	branch = 7.x-1.x
[submodule "sites/all/themes/corporateclean"]
	path = sites/all/themes/corporateclean
	url = https://github.com/gregoryrpitts/corporateclean.git
	branch = gpitts-sda
[submodule "sites/all/modules/content_access"]
	path = sites/all/modules/content_access
	url = http://git.drupal.org/project/content_access.git
	branch = master
[submodule "sites/all/modules/responsive_preview"]
	path = sites/all/modules/responsive_preview
	url = http://git.drupal.org/project/responsive_preview.git
	branch = 8.x-1.x
[submodule "sites/all/modules/token"]
	path = sites/all/modules/token
	url = https://github.com/gregoryrpitts/Token.git
[submodule "sites/all/modules/ckeditor"]
	path = sites/all/modules/ckeditor
	url = https://github.com/gregoryrpitts/ckeditor.git
