[submodule "sites/all/modules/checklistapi"]
	path = sites/all/modules/checklistapi
	url = http://git.drupal.org/project/checklistapi.git
	branch = 7.x-1.x
[submodule "sites/all/modules/module_filter"]
	path = sites/all/modules/module_filter
	url = http://git.drupal.org/project/module_filter.git
	branch = master
[submodule "sites/all/modules/views"]
	path = sites/all/modules/views
	url = http://git.drupal.org/project/views.git
	branch = 7.x-3.x
[submodule "sites/all/modules/ctools"]
	path = sites/all/modules/ctools
	url = http://git.drupal.org/project/ctools.git
	branch = 7.x-1.x
[submodule "sites/all/modules/panels"]
	path = sites/all/modules/panels
	url = http://git.drupal.org/project/panels.git
	branch = 7.x-3.x
[submodule "sites/all/modules/advanced_help"]
	path = sites/all/modules/advanced_help
	url = http://git.drupal.org/project/advanced_help.git
	branch = 7.x-1.x
