[submodule "sites/all/modules/checklistapi"]
	path = sites/all/modules/checklistapi
	url = http://git.drupal.org/project/checklistapi.git
	branch = 7.x-1.x
[submodule "sites/all/modules/module_filter"]
	path = sites/all/modules/module_filter
	url = http://git.drupal.org/project/module_filter.git
	branch = master
[submodule "sites/all/modules/views"]
	path = sites/all/modules/views
	url = http://git.drupal.org/project/views.git
	branch = 7.x-3.x
